# SUPER SIMPLE hello world notebook :) 
Easy data exploration with pandas and matplotlib.

In [ ]:
USE ROLE PUBLIC;
USE SNOWPUBLIC.NOTEBOOKS;
select 12;

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
CREATE OR REPLACE TABLE STUDY_DATA (
    Name STRING,
    Age INT,
    Score INT,
    Hours_Studied INT,
    Sleep_Hours INT
);

INSERT INTO STUDY_DATA (Name, Age, Score, Hours_Studied, Sleep_Hours) VALUES
    ('Alice', 24, 85, 10, 7),
    ('Bob', 27, 90, 12, 6),
    ('Charlie', 22, 78, 8, 8),
    ('Diana', 32, 88, 15, 5),
    ('Ethan', 29, 92, 14, 7),
    ('Fiona', 26, 81, 9, 6),
    ('George', 28, 87, 11, 7);


SELECT * FROM STUDY_DATA;

In [ ]:
df = dataframe_2
print(df)

In [ ]:
# Average score
avg_score = df['SCORE'].mean()
print(f'Average Score: {avg_score:.2f}')

# Correlations
corr_study = df['HOURS_STUDIED'].corr(df['SCORE'])
corr_sleep = df['SLEEP_HOURS'].corr(df['SCORE'])
print(f'Correlation between Hours Studied and Score: {corr_study:.2f}')
print(f'Correlation between Sleep Hours and Score: {corr_sleep:.2f}')

In [ ]:
# Bar chart of scores
df.plot(x='NAME', y='SCORE', kind='bar', legend=False)
plt.title('Scores by Person')
plt.ylabel('Score')
plt.show()

In [ ]:
# Scatter plot of Hours Studied vs Score
df.plot(kind='scatter', x='HOURS_STUDIED', y='SCORE')
plt.title('Hours Studied vs Score')
plt.show()

In [ ]:
# Scatter plot of Sleep Hours vs Score
df.plot(kind='scatter', x='SLEEP_HOURS', y='SCORE')
plt.title('Sleep Hours vs Score')
plt.show()